@using BlazorColorPicker

<ContextMenuTrigger MenuId="SVGMenu" style="height:100%;">
    <svg
        @ref=ElementReference
        @onmousemove="Move"
        @onmousedown="Down"
        @onmouseup="Up"
        @onmouseout="Out"
        @onwheel="Wheel"
        style="border:1px solid black; cursor:@(Panning ? "move" : "initial");"
        width="100%"
        height="100%"
        @onmousedown:preventDefault="true">
        <rect width="100%" height="100%" fill="transparent" @onmousedown=@UnSelect></rect>
        <CascadingValue Value=this>
            @foreach (ISVGElement SVGElement in Elements)
            {
                var Parameters = new Dictionary<string, object> { { "SVGElement", SVGElement } };
                <DynamicComponent Type=@SVGElement.Editor Parameters=@Parameters />
            }
        </CascadingValue>
        <foreignObject x="5" y="0" height="22" width="150" style="font-size:20px;">Scale 1:@(Math.Round(Scale, 3).AsString())</foreignObject>
    </svg>
</ContextMenuTrigger>
<ContextMenu Id="SVGMenu">
    <Item OnClick="() => ContextZoomIn()"><div class="icon">🔍</div> Zoom In</Item>
    <Item OnClick="() => ContextZoomOut()"><div class="icon">🔍</div> Zoom Out</Item>
    @if (CurrentShape != null && CurrentShape.EditMode == EditMode.Add)
    {
        <Item OnClick=CompleteShape>
            <div class="icon">✨</div> Complete New Shape
            @if (CurrentShape is Path path)
            {
                <SubMenu>
                    <Item OnClick=CompleteShapeWithoutClose><div class="icon">❗</div> Complete Without Close Instruction</Item>
                    <Item OnClick=DeletePreviousInstruction><div class="icon">❌</div> Remove Last added Instruction</Item>
                </SubMenu>
            }
        </Item>
    }
    else
    {
        <Item>
            <div class="icon">✨</div> Add
            <SubMenu>
                <Item OnClick="_ => Path.AddNew(this)"><div class="icon">🎢</div> New Path</Item>
                <Item OnClick="_ => Polygon.AddNew(this)"><div class="icon">🔷</div> New Polygon</Item>
                <Item OnClick="_ => Polyline.AddNew(this)"><div class="icon">〰</div> New Polyline</Item>
                <Item OnClick="_ => Line.AddNew(this)"><div class="icon">➖</div> New Line</Item>
                <Item OnClick="_ => Circle.AddNew(this)"><div class="icon">🔵</div> New Circle</Item>
                <Item OnClick="_ => Ellipse.AddNew(this)"><div class="icon">🕳</div> New Ellipse</Item>
                <Item OnClick="_ => Rect.AddNew(this)"><div class="icon">🟦</div> New rectangle</Item>
            </SubMenu>
        </Item>
    }
    @if (context.Data != null)
    {
        if (context.Data is Shape shape)
        {
            <Item data=shape OnClick="@OpenFillColorPicker">
                <div class="colorPickerCube" style="background-color:@shape.Fill;"></div> Fill Color
                <SubMenu>
                    <Item OnClick=@(_ => shape.Fill = "none")><div class="icon">⚪</div> Set To None</Item>
                    <Item OnClick=@(_ => shape.Fill = "transparent")><div class="icon">🔘</div> Set To Transparent</Item>
                    <Item OnClick=@(_ => shape.Fill = "black")><div class="icon">⚫</div> Set To Black</Item>
                </SubMenu>
            </Item>
            <Item data=shape OnClick="@OpenStrokeColorPicker">
                <div class="colorPickerCube" style="background-color:@shape.Stroke;"></div> Stroke Color
                <SubMenu>
                    <Item OnClick=@(_ => shape.Stroke = "none")><div class="icon">⚪</div> Set To None</Item>
                    <Item OnClick=@(_ => shape.Stroke = "transparent")><div class="icon">🔘</div> Set To Transparent</Item>
                    <Item OnClick=@(_ => shape.Stroke = "black")><div class="icon">⚫</div> Set To Black</Item>
                </SubMenu>
            </Item>
            <Item @onclick:preventDefault="true">
                <div class="icon">➖</div> Stroke Width
                <input type="number" @bind-value=shape.StrokeWidth style="width:50px;" />
            </Item>
            <Item OnClick="() => CopyAndPaste(shape)"><div class="icon">➿</div> Copy & Paste</Item>
            <Item OnClick="() => Remove(shape)" ><div class="icon">❌</div> Delete</Item>
            <Item>
                <div class="icon">↕</div> Move
                <SubMenu>
                    <Item data=shape OnClick="@MoveToBack"><div class="icon">⏫</div> To Back</Item>
                    <Item data=shape OnClick="@MoveBack"><div class="icon">🔼</div> Back</Item>
                    <Item data=shape OnClick="@MoveForward"><div class="icon">🔽</div> Forward</Item>
                    <Item data=shape OnClick="@MoveToFront"><div class="icon">⏬</div> To Front</Item>
                </SubMenu>
            </Item>
            if (shape is Path path)
            {
                <Item data=path OnClick="() => ScaleShape(shape)"> <div class="icon">↔</div> Scale</Item>
            }
        }
    }
</ContextMenu>
<ColorPicker Title=@ColorPickerTitle IsOpened=@IsColorPickerOpen Closed=@ColorPickerClosed MyColor=@PreviousColor></ColorPicker>